.container-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 48px 32px 16px 32px;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.hi-message {
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-right: 32px;
}

.date-dashboard {
    width: 175px;
    height: 175px;
    color: white;
    font-weight: 400;
    font-size: 32px;
}

.date-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    border-radius: 16px;
    background-color: white;
}

.date {
    color: black;
    font-size: 102px;
    font-weight: 400px;
    text-align: center;
    margin-top: 10px;
}

.month {
    background-color: orangered;
    font-weight: 600px;
    font-size: 24px;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 16px 16px 0px 0px;
    padding-bottom: 5px;
}