.container-main {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.temporary-placeholder {
    color: white;
    font-weight: 700;
    font-size: 50px;
    text-align: center;

}